body {
    width:100%;
    height: 100%;
    margin: 0;
    background-image: url('../public/assets/login_baground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    overflow-y: hidden;
}

main {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#security_form {
    padding: 20px;
    background-color: white;
    width: 20%;
    border: 1px solid #007BFF;
    border-radius: 20px; 
}

#security_form.focused {
    box-shadow: 0 0 10px #007BFF, 0 0 15px #00A0FF, 0 0 20px #00C3FF;
}

#security_form img {
    margin-bottom:20px;
}

#security_form p{
    width:100%;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    color:#007BFF;
}

