.title_username {
    margin-bottom: 50px;
    color: white !important;
    width:100%;
    text-align: center;
}
h1, h2, h3, h4, h5, h6, p {
    color: white !important;
}
h3 {
    color: white !important;
    font-size: 20px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.main_project {
    color: white !important;
    height:90% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resum_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.resum_container_part {
    width:40%;
    max-height: 500px !important;
    padding: 20px;
    background-color: #2a2b2d;
    border: 1px solid rgb(82, 81, 81);
    border-radius: 20px;
}

.card {
    display: flex !important;
    flex-direction: column !important;
    background-color: blue !important;
}

.card_orange {
    background-color: orange !important;
}

.card h4 {
    font-size: 18px;
    margin: 0;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card a {
    text-decoration: none !important;
    margin:0;
    padding: 0;
}

.card_body{
    display: flex;
    width:100%;
    align-content: center;

}

.card_body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card_icon {
    position:absolute;
    bottom: 2px;
    right:2px;
}

.revertColor {
    filter: invert(100%);
}

.line_task {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    width:100% !important;
    border-top: 1px solid rgb(82, 81, 81);
    border-bottom: 1px solid rgb(82, 81, 81);
}

.resum_container_part a {
    text-decoration: none !important;
    color: inherit !important;
}
.line_task p {
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

.project_tasks {
    width:100%;
    min-height: 40px;
}

.project_tasks a {
    text-decoration: none!important;
}

.projectName {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(82, 81, 81);
    border-bottom: 1px solid rgb(82, 81, 81);
}

.projectNameAndIcon {
    display: flex;
    align-items: flex-end;
}

.projectNameAndIcon h2{
    margin:0;
}

.projectDescription p {
    margin: 5px !important;
    border-bottom: 1px solid rgb(82, 81, 81);
}

.container_createTask {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.container_createTask p{
    margin:0;
}


.tasks_container {
    border-top: 1px solid rgb(82, 81, 81);
    border-bottom: 1px solid rgb(82, 81, 81);
    width: 100%;
}

.tasks_container p{
    color: rgb(134, 132, 132) !important;
}

.tasks_container_header, .task_container {
    width:100%;
    display:flex !important;
}   

.tasks_container_header p, .task_container p {
    margin:0;
    margin-top:2px;
    margin-bottom:2px;
}

.task_container {
    border-bottom: 1px solid rgb(82, 81, 81);
}

.tasks_container_header_title {
    width:50%;
}


.tasks_container_header_noTitle {
    width:12.5%;
    text-align: center;
    margin:0;
    border-left: 1px solid rgb(82, 81, 81);
}