h1 {
    font-size: 20px !important;
    margin: 0px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

body {
    background-color: #1e1f21 !important;
    height: 100vh !important;
}

header {
    height: 10% !important;
}